
.al-input-group-wrapper {
    .al-input-wrapper {
        display: table;
        width: 100%;
        font-family: $input-font-family;
        font-size: $input-font-size;
        font-weight: $input-font-weight;
        line-height: $input-line-height;
        color: $input-color;
        box-shadow: $input-box-shadow;
        .al-input-inner {
            width: 100%;
            display: table-cell;
            border-radius: $input-border-radius;
            outline: none;
            border: $input-border-width solid $input-border-color;
            padding: $input-padding-y $input-padding-x;
            transition: $input-transition;
          
            &:focus,
            &:hover {
                background-color: $input-focus-bg;
                border: $input-border-width solid $input-focus-border-color;
                color: $input-focus-color;
                box-shadow: $input-focus-box-shadow;
            }
            &:placeholder-shown {
                color: $input-placeholder-color;
            }
            &:disabled {
                pointer-events: none;
                background-color: $input-disabled-bg;
                border-color: $input-disabled-border-color;
            }
        }
       
    }
    .al-input-group {
        .al-input-inner:not(:first-child) {
            @include border-left-radius(0);
            
        }
        .al-input-inner:not(:last-child) {
            @include border-right-radius(0);
        }
        .al-input-group-addon {
            display: table-cell;
            width: 1px;
            background-color: $input-group-addon-bg;
            color: $input-group-addon-color;
            border: $input-border-width solid $input-group-addon-border-color;
            
            padding: $input-padding-y $input-padding-x; 
            border-radius: $input-border-radius;
            white-space: nowrap;
            &:first-child {
                border-right: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child {
                border-left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    
    }
    .al-input-lg {
        font-size: $input-font-size-lg;
        .al-input-inner {
            padding: $input-padding-y-lg $input-padding-x-lg;
            border-radius: $input-border-radius-lg;
        }
    }
    .al-input-sm {
        font-size: $input-font-size-sm;
        .al-input-inner {
            padding: $input-padding-y-lg $input-padding-x-sm;
            border-radius: $input-border-radius-sm;
        }
    }
    
    .al-input-affix {
        position: relative;
        .al-input-inner {
            padding-right: 30px;
        }
        .al-input-icon {
            position: absolute;
            line-height: 2.4;
            width: 30px;
            height: 100%;
            right: 0;
            text-align: center;
        }
    }
    
}